@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700');


/* global stuff */

* {
    font-family: 'Space Mono', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
}

hr {
    width: 100%;
    border-color: #D0CFCC;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #171421;
    height: 100vh;
    padding: 1rem 20%;
    margin: 0;
}


/* alerts */

.alert {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    color: red;
    padding-top: 4rem;
}


/* multiple classes */

.hero-header,
.post-title-individual,
.about-title,
.create-post-title,
.edit-post-title {
    font-size: 42px;
    font-weight: 700;
    color: #D0CFCC;
    margin: 0;
    text-align: center;
}

.hero-desc,
.post-time-stamp,
.about-subtitle {
    font-size: 22px;
    color: #D0CFCC;
    margin: 0;
    text-align: center;
}

.author-credit,
.social-links {
    font-size: 18px;
    color: #E9AD0C;
}

.post-title,
.time-stamp {
    margin: 0;
}

.post-title,
.post-link {
    font-size: 24px;
    font-weight: 900;
    color: #33C7DE;
}


/* navbar & header section */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-size: 22px;
    color: #26A269;
    font-weight: 700;
}

.nav-link {
    font-size: 18px;
    color: #26A269;
}


/* hero section */

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 4rem 0;
}


/* footer section */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}


/* posts section */

.posts-section {
    display: flex;
    flex-direction: column;
}

.post {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 1rem 0;
}

.time-stamp {
    font-size: 18px;
    color: #D0CFCC;
}


/* individual posts */

.post-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 4rem 0;
}

.post-content {
    font-size: 18px;
    color: #D0CFCC;
}

.post-time-stamp {
    padding-bottom: 15px;
}


/* about page */

.about-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 4rem 0;  
}

.about-desc {
    font-size: 18px;
    color: #D0CFCC;
    text-align: center;
}

.about-subtitle {
    padding-bottom: 15px;
}


/* create & edit post pages */

.create-container,
.edit-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 4rem 0;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-item {
    display: flex;
    flex-direction: column;
}

.form-title,
.form-content-title {
    font-size: 22px;
    font-weight: 700;
    color: #D0CFCC;
    text-align: center;
    margin-bottom: 1rem;
}

.form-group {
    width: 70%;
}

.form-control-content,
.form-control-title {
    background-color: #171421;
    border: 2px solid #D0CFCC;
    border-radius: 20px;
    padding: 1rem;
    color: #D0CFCC;
}

.form-control-content {
    height: 10rem;
}

.form-content-title,
.btn-primary {
    margin-top: 2rem;
}

.btn-primary {
    display: inline-block;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #D0CFCC;
    background-color: #26A269;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #D0CFCC;
}

.btn-primary:hover {
    background-color: #218A59
}

.btn-primary:active {
  background-color: #218A59;
  box-shadow: 0 2px #D0CFCC;
  transform: translateY(4px);
}


/* container placeholder */

.container {
    flex: 1;
}
